/* Corpo */
body {
    background: linear-gradient(135deg, #ff8c00, #ff4500);
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

/* Cabeçalho */
header {
    min-height: 220px;
    background-image:
        linear-gradient(rgba(255, 69, 0, 0.25), rgba(255, 140, 0, 0.25)),
        url("cenario5.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-shadow: 2px 2px 5px black;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin-top: 15px;
}

/* Conteúdo */
main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
}

/* Artigo */
.economia {
    background: linear-gradient(135deg, #b33a00, #8f2d00);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.economia h2 {
    color: #ffcc66;
    margin-top: 25px;
}

.economia p {
    font-size: 18px;
    line-height: 1.6;
}

/* Lista */
.economia ul {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.economia li {
    margin-bottom: 5px;
}

/* Imagem */
img {
    width: 300px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}

/* Vídeo */
.video {
    background: linear-gradient(135deg, #b33a00, #8f2d00);

    padding: 25px;
    margin-top: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.video h2 {
    color: #ffcc66;
}

.video iframe {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 10px;
}

/* Botão */
.botao-curtir {
    background: linear-gradient(135deg, #ffb000, #ff7b00);
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.2s;
}

.botao-curtir:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #ff7b00, #ff4500);
}

.botao-curtir:active {
    transform: scale(0.95);
}