body {
    background-color: yellow;
    margin:0;
}

header {
    background-color: yellow;
    color: white;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    border: 5px solid white;
    display: flex;
}

main {
    background-color: orangered;
    color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

article {
    background-color: orangered;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

}

.BotaoClicado {
    background-color: red;
}